.footer_container{
    background-image: url("https://i.ibb.co/VSyWs0z/Rectangle-44-1.png");
    width: 100vw;
    height: 400px;
    background-size: contain;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255, 255, 255);

}
.footer_container_left h1{
    font-size: 80px;
    width: 400px;
}
.footer_container_right h1{
    /* width: 400px; */
    font-size: 25px;
    /* margin-top: 10px; */
    margin-top: 25px;
}


.footer_container_right{
    width: 500px;
}

.connect_social{
    font-size: 30px;
}

.social_icons{
    margin-top: 10px;
}