.footer_container{
    /* background-image: url("https://i.ibb.co/VSyWs0z/Rectangle-44-1.png"); */
    background:rgb(37, 1, 30);
    /* width: 110vw; */
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    color: rgb(255, 255, 255);
    /* padding: 0px -80px 0px 0px; */
    object-fit: cover;
    /* object-position: 25% 25%; */

}
.footer_container_left h1{
    font-size: 80px;
    width: 400px;
}
.footer_container_right h1{
    /* width: 400px; */
    font-size: 25px;
    /* margin-top: 10px; */
    margin-top: 25px;
}


.footer_container_right{
    width: 500px;
}

.connect_social{
    font-size: 30px;
}

.social_icons{
    margin-top: 10px;
}


@media screen and (max-width: 1000px) {
    .footer_container{
        display: flex;
        flex-direction: column;
        height: 600px;
        align-items: flex-start;
        padding-left: 5%;
    }
    .footer_container_right p{
        width: 85vw;
    }
    .footer_container_left h1{
        font-size: 60px;
        
    }
  }